.Header {
    width: 100%;
    margin-top: 30px;
    line-height: 1.4;
}

.Header__title {
    font-size: 20px; 
    text-align: center;

    @media(min-width: 768px) {
        font-size: 22px;
    }
    @media(min-width: 1024px) {
        font-size: 25px;
    }
    @media(min-width: 1600px) {
        font-size: 35px;
    }
}

