.MainContainer {
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media(min-width: 768px) {
        padding: 20px;
    }
    @media(min-width: 1024px) {
        width: 80%;
        margin: 0 auto;
    }
    @media(min-width: 1600px) {
        width: 70%;
    }
}

.Pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @media(min-width: 1024px) {
        justify-content: flex-start;
    }
}

.pagination {
    display: flex;
    li { 
        padding: 10px; 
        border: 1px solid $primaryGray;
        &:nth-last-child(n+2) { border-right: none; } 

        &.active { 
            background-color: $primaryBlue;
            pointer-events: none; 
           a { color: $white; }
        }
        &.disabled { opacity: .5; }
    }
    a { 
        text-decoration: none; 
        outline: 0; 
        user-select: none; 
        &:active { color: inherit; }
    }

    @media(min-width: 1366px) {
        li { padding: 15px; }
    }
}
